 /*navigation */
 #navbar {
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 1px 6px;
    padding-bottom: 8px;
}
html{
   scroll-behavior: smooth;
}

 /*home*/
 #home{
    height: 370px;  
    padding: 3px 10px;
}
#home::before{
   height: 500px;
   left: 1px;
   right: 1px;
}
#home h1{
    font-size: 1.5rem;
}
#home p{
   font-size: 12.2px;

}
/*services*/

#services{
    flex-direction: column;

}
#services .box{
    padding: 14px;
    margin: 2px 1px;
    margin-bottom: 10px;
}
/* student */
#students{
    flex-wrap: wrap;
}
#students img{
    width: 60px;
    padding: 5px 100px;
    height: auto;
}
/* faculty */
#faculty{
    flex-wrap: wrap;
}
#faculty img{
    width: 66px;
    padding: 2px 300px;
    height: auto;
}
/* facilities */
#facilities{
    flex-direction: column;
}
#facilities .box{
    padding: 15px;
    margin: 2px 0px;
    margin-bottom: 20px;

}
/* contact */
#contact{
    height: 250px; 
    padding: 5px 6px;
}
#contact::before{
   height: 1px;
}
#contact p{
   font-size: 1rem;

}

.fa{
text-align: center;
padding: 8px;
margin: 3px 36px;
border-radius: 50px;
}

/*footer*/

/*utility classes */
.h-primary{
    font-size: 26px;
}
.h-secondary{
     font-size: 20px;
 }


.btn{
    font-size: 9px;
    padding: 4px 8px;
}


